01. playbooks/01. Revoke-Entra-ID-User-Session-From-Incident/azuredeploy.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Condition_-_Any_successful_session_revocations": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(variables('Affected Entra ID Users'))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Add_comment_to_incident_(V3)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Failed to revoke Entra ID user sessions.</strong></b></p>"
                            },
                            "path": "/Incidents/Comment"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Agregar_un_comentario_al_incidente_(V3)": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Failed to revoke Entra ID user sessions.</strong></b></p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        }
                    }
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                }
            },
            "Entities_-_Get_Accounts": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/account"
                },
                "runAfter": {}
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                "actions": {
                    "Condition_-_Determine_which_value_to_use_for_UPN": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('For_each')?['AadUserId']",
                                        "@null"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Set_variable_-_Concatenate_Account_Name_and_UPN_Suffix": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "UPN",
                                    "value": "@{concat(items('For_each')?['accountName'],'@', items('For_each')?['upnSuffix'])}"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_-_Use_AadUserId_for_UPN": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "UPN",
                                        "value": "@{items('For_each')?['AadUserId']}"
                                    }
                                }
                            }
                        }
                    },
                    "Condition_-_User_session_successfully_revoked": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_-_Revoke_user_sign_in_sessions')['statusCode']",
                                        200
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Append_to_string_variable_-_Affected_Entra_ID_Users": {
                                "type": "AppendToStringVariable",
                                "inputs": {
                                    "name": "Affected Entra ID Users",
                                    "value": "@{items('For_each')?['accountName']} [@{variables('UPN')}]\n"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "HTTP_-_Revoke_user_sign_in_sessions": [
                                "Succeeded"
                            ]
                        }
                    },
                    "HTTP_-_Revoke_user_sign_in_sessions": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/users/@{variables('UPN')}/revokeSignInSessions",
                            "method": "POST",
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_JSON_-_Access_token')?['access_token']}",
                                "Content-Type": "application/json",
                                "Host": "graph.microsoft.com"
                            }
                        },
                        "runAfter": {
                            "Condition_-_Determine_which_value_to_use_for_UPN": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON_-_Access_token": [
                        "Succeeded"
                    ]
                }
            },
            "Get_Client_Secret": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('RevokeEntraIDUserSecret')}/value"
                },
                "runAfter": {
                    "Entities_-_Get_Accounts": [
                        "Succeeded"
                    ]
                }
            },
            "HTTP_-_Authenticate": {
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/8365268c-6130-437f-920b-904256ae682a/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Host": "login.microsoftonline.com"
                    },
                    "body": "grant_type=client_credentials&client_id=ccca5ddb-8041-4aa9-bdd7-fda802b6bf17&client_secret=@{body('Get_Client_Secret')?['value']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default"
                },
                "runAfter": {
                    "Initialize_variable_-_UPN": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_-_Affected_Entra_ID_Users": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Affected Entra ID Users",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Get_Client_Secret": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_-_UPN": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "UPN",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_Affected_Entra_ID_Users": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON_-_Access_token": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_-_Authenticate')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Authenticate": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/resourceGroups/SentinelIMSSDemo/providers/Microsoft.Web/connections/azuresentinel-Revoke-Entra-ID-User-Session-From-Incident",
                    "connectionName": "azuresentinel-Revoke-Entra-ID-User-Session-From-Incident",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-1": {
                    "id": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/resourceGroups/SentinelIMSSDemo/providers/Microsoft.Web/connections/MicrosoftSentinel-Revoke-EntraIDSignIn-Session-entityTrigger",
                    "connectionName": "MicrosoftSentinel-Revoke-EntraIDSignIn-Session-entityTrigger",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "keyvault": {
                    "id": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/providers/Microsoft.Web/locations/eastus/managedApis/keyvault",
                    "connectionId": "/subscriptions/acd754da-298f-423b-b31e-4973af1e1173/resourceGroups/SentinelIMSSDemo/providers/Microsoft.Web/connections/keyvault-Revoke-Entra-ID-User-Session-From-Incident",
                    "connectionName": "keyvault-Revoke-Entra-ID-User-Session-From-Incident",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}